
body{
    margin:0;
    padding:0;
    background:#111111;
    color:white;
    font-family:Arial,Helvetica,sans-serif;
}

header{
    background:#000;
    padding:25px;
    text-align:center;
    border-bottom:4px solid #F8A8C9;
}

header h1{
    color:#F8A8C9;
    margin:0;
}

header p{
    color:#FFD9E8;
}

.container{
    padding:20px;
}

.card{
    background:#1B1B1B;
    border:1px solid #333;
    border-radius:20px;
    padding:20px;
    margin-bottom:18px;
}

.card h2{
    color:#F8A8C9;
}

.card p{
    color:#DDD;
}

.btn{
    display:block;
    width:100%;
    text-align:center;
    background:#F8A8C9;
    color:#111;
    text-decoration:none;
    font-weight:bold;
    padding:16px;
    border-radius:16px;
    margin-top:15px;
    transition:0.3s;
}

.btn:hover{
    background:#FFD9E8;
}

footer{
    text-align:center;
    color:#999;
    padding:25px;
}
